
@font-face {
    font-family: "Raleway";
    src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,400&display=swap") format("truetype"),
  }

* {
    font-family: "Raleway", "Lato", Arial, sans-serif;
}

header {
    background-color: #F7F7F7;
}

body {
    background-color: #F9F9FB;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page {
    display: contents;
}

a {
    text-decoration: none;
}

p {
    padding-top: 2rem;
    padding-left: 5rem;
    color: gray;
}

li {
    font-weight: bold;
}

form {
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: gray;
}

input[type="text"] {
    padding: 0.8rem;
    border-radius: 100px;
    border-color: #a4a4ac;
    border-style: double;
}

input[type="tel"] {
    padding: 0.8rem;
    border-radius: 100px;
    border-color: #a4a4ac;
    border-style: double;
}

input[type="email"] {
    padding: 0.8rem;
    border-radius: 100px;
    border-color: #a4a4ac;
    border-style: double;
}

select {
    padding: 0.8rem;
    border-radius: 100px;
}

textarea {
    padding: 0.8rem;
    border-radius: 30px;
    border-color: #a4a4ac;
    border-style: double;
}

.check-orcamento {
    align-items: flex-start;
}

#formulario-corpo {
    width: 50%;
}

#texto-formulario p {
    padding-top: 0;
}

.contact-image {
    width: 50%;
    position: relative;
    top: 2rem;
    bottom: 0;
    right: 2rem;
    float: right;
}

.contact-image img {
    width: 100%;
}

#campo-obrigatorio {
    font-size: small;
    font-style: italic;
    color: gray;
    align-items: start;
    padding: 0;
}

#form-submit {
    width: 6rem;
    display: inline;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0.8rem;
    background-color: rgb(15, 0, 131);
    color: #e6ffef;
    border: rgb(15, 0, 131);
    font-family: Lato, Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#form-submit:hover {
    filter: opacity(70%);
}

.logo {
    position: static;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-menu {
    border-top: 1px solid #E0E6E2;
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
}

.item-menu {
    padding: 0;
    background-color: #F7F7F7;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: relative;
}

.space-hover:hover {
    background-image: linear-gradient(to right, #F5921E, #b700b4);
}

.space-hover:hover .nav-item b {
    color: #ffffff;
    transition: color 0.3s;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-self: center;
    background-image: linear-gradient(to right, #F5921E, #b700b4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s;
    position: relative;
}

.w-25 {
    width: 25%;
}

.banner {
    display: flex;
    text-align-last: center;
    padding-top: 1rem;
}

.page-title {
    align-self: self-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
}

.best-sellers {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 3rem 3rem 3rem;
    gap: 10px;
}

.all-medicines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 1rem 3rem 3rem 3rem;
}
.card-medicine {
    width: 19rem;
    border: 1px solid #E0E6E2;
    margin: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-medicine p {
    padding: 0;
}

.card-medicine img {
    width: 100%;
    height: 90%;
}

.card-medicine a {
    color: black;
}

.card-medicine a:visited {
    color:#70026f;
}

.card-medicine a:active {
    color: #97154d;
}

.card-medicine:hover {
    background-color: #ececec;
}

.favorite-button {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    padding-top: 1rem;
    align-self: self-end;
    cursor: pointer;
}

.favorite-button:hover {
    filter: opacity(40%);
}

.add-to-basket {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 8px 20px;
    background-color: rgb(92, 151, 92);
    color: #e6ffef;
    border: rgb(92, 151, 92);
    font-family: Lato, Arial, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-basket:hover {
    background-color: rgb(135, 195, 135);
}

.text-about {
    padding: 0 5rem 0 0;
}

.text-about p {
    text-align: justify;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
    color: gray;
}

.text-about img {
    padding: 2rem;
    float: right;
    width: 30rem;
}

.follow-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.follow-us p {
    padding: 0;
}

.social {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 5rem;
}

.social p {
    padding: 0;
}
  
.social div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.social img {
    width: 3rem;
    padding: 0;
}

footer {
    border-top: 1px solid #E0E6E2;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F7F7F7;
    padding: 2rem 0 2rem 0;
}

footer p {
    text-align: center;
    font-weight: bold;
    padding-top: 0;
    padding-left: 0;
}

.map {
    justify-content: center;
    align-items: center;
    display: flex;
}

.copyright {
    padding-top: 2rem;
    text-align: center;
    font-size: small;
    color: #888897;
}