* {
    font-family: Lato, Arial, sans-serif;
}

header {
    background-color: #F7F7F7;
}

body {
    background-color: #F9F9FB;
}

h4 {
    font-weight: lighter;
}

a {
    text-decoration: none;
}

.logo {
    position: static;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav-menu {
    border-top: 1px solid #E0E6E2;
    box-shadow: 0 4px 4px rgba(0,0,0,.05);
}

.item-menu {
    padding: 0;
    background-color: #F7F7F7;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: relative;
}

.space-hover:hover {
    background-image: linear-gradient(to right, #F5921E, #b700b4);
}

.space-hover:hover .nav-item b {
    color: #ffffff;
    transition: color 0.3s;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-self: center;
    background-image: linear-gradient(to right, #F5921E, #b700b4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s;
    position: relative;
}

.w-25 {
    width: 25%;
}

.best-sellers {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
}

.all-medicines {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-medicine {
    border: 1px solid #E0E6E2;
    margin: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
    display: flex;
    width: 18rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-medicine img {
    width: 100%;
    height: 90%;
}

.card-medicine a {
    color: black;
}

.card-medicine a:visited {
    color:#70026f;
}

.card-medicine a:active {
    color: #97154d;
}

.favorite-button {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
    padding-top: 1rem;
    align-self: self-end;
}

.favorite-button:hover {
    filter: opacity(40%);
}

.add-to-basket {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 8px 20px;
    background-color: rgb(92, 151, 92);
    color: #e6ffef;
    border: rgb(92, 151, 92);
    font-family: Lato, Arial, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-basket:hover {
    background-color: rgb(135, 195, 135);
}

.footer {
    border-top: 1px solid #E0E6E2;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F7F7F7;
    padding: 40px;
}

.copyright {
    text-align: center;
    font-size: small;
    color: #888897;
}